<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
     <link rel="stylesheet" href="{{ url_for('static',filename='newstyle.css') }}">

</head>
<body class="about">
<header id="home">
    <nav>
        <div class="logo">E-Shop</div>
        <div class="menu">
        <a href="/">home</a>
            <a href="/man">man</a>
            <a href="/women">women</a>
             <a href="/team">Team</a>
              <a href="/contact">contact</a>
        </div>
    </nav>
        </div>
<div>
<h1>Ecommerce is the buying and selling of goods and services over the Internet.
It is conducted over computers, tablets, smartphones, and other smart devices. Almost anything can be purchased through ecommerce today. It can be a substitute for brick-and-mortar stores,
    though some businesses choose to maintain both</h1></div>
</header>
</body>
</html>