<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>online shoping website</title>
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
     <link rel="stylesheet" href="{{ url_for('static',filename='newstyle.css') }}">

</head>

<body>
<header id="home">
    <nav>
        <div class="logo">E-Shop</div>
        <div class="menu">
        <a href="/home1">home</a>
            <a href="/man">man</a>
            <a href="/women">women</a>
             <a href="/team">Team</a>
            <a href="/contact">contact</a>
        </div>
    </nav>
    <div class="ma">
    <marquee width="90%" direction="left" height="100px">
        <h1>WELCOME TO E-SHOP</h1></marquee>
    </div>
    <div class="container">
        <div class="left">
            <img src="/static/img/e shop.jpg">
        </div>
        <div class="right" >
            <h1><b> Welcome to</b><br>
                <h1><b>E-Shop </b></h1>
            </h1>
            <p> We have providing best quality materials.we have best quality clothes,shoes for man and womens.</p>
            </h1>
        </div>
    </div>
</header>
<section>
<footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-blue"></i>
    <i class="fa fa-instagram w3-hover-blue"></i>
    <i class="fa fa-snapchat w3-hover-blue"></i>
    <i class="fa fa-pinterest-p w3-hover-blue"></i>
    <i class="fa fa-twitter w3-hover-blue"></i>
    <i class="fa fa-linkedin w3-hover-blue"></i>
  </div>
</footer>
</section>
</body>
</html>