<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='newstyle.css') }}">
</head>
<body class="login">
<div class="login_page">
    <h1>login </h1>
    <form action="home1" method="get">
        <p>User name </p>
        <input type="text" name=" user" placeholder="user name"><br>
        <p>password</p>
        <input type="password" placeholder="password"><br><br>
        <button type="submit"><a href="login page.html" ></a> log in</button>
    </form>
</div>
</body>
</html>