<html xmlns="http://www.w3.org/1999/html">
<head>
    <title></title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ url_for('static',filename='newstyle.css') }}">


        </head>
        <body>
        <header id="home">
    <nav>
        <div class="logo">E-Shop</div>
        <div class="menu">
        <a href="/home1">home</a>
            <a href="/man">man
            </a>
            <a href="/women">women</a>
             <a href="/team">Team</a>
              <a href="/contact">contact</a>
        </div>
    </nav>

        <section id="man">
            <h1><b>MEN'S CLOTHING</b></h1>
            <div class="mancloath">
            <div>
                <br>
                <img src="/static/img/jetblackhalfsleeve tshirt.jpg">
                <h6>Black Half Sleeve T-Shirt</h6>
                <p>Price:₹299.00</p>
                <h2>
                <button type="button" class="add"> <a href="https://rzp.io/i/RJkYpRY1">Buy Now</a></button>
                </h2>
                    </div>
            <div>
                 <img src="/static/img/white-round-.jpg">
                <h6>White Round neck Varsity H/S T-shirt</h6>
                <p>Price:₹329.00</p>
                <h2>
                <button class="add"><a href="https://rzp.io/i/zyRLjof6c"> Buy Now</a></button>
                </h2>
            </div>
            <div>
                 <img src="/static/img/hud.jpg">
                <h6>Squid Triangle Crewneck Sweatshirt</h6>
                <p>Price:₹999.00</p>
                <h2>
                    <button class="add"><a href="https://rzp.io/i/eQ5Ru6Ud">Buy Now </a></button>
                </h2>
            </div>
            <div>
                 <img src="/static/img/red hud.jpg">
                <h6>Chilli Pepper Fleece Hoodie Sweatshirt</h6>
                <p>Price:₹1199.00</p>
                <h2>
                    <button class="add"><a href="https://rzp.io/i/jam9imG">Buy Now </a></button>
                </h2>
            </div>
            <div>
               <img src="/static/img/pant.jpg">
                <h6>Men's Printed Ethnic Pants</h6>
                <p>Price:₹899.00</p>
                <h2>
                    <button class="add"><a href="https://rzp.io/i/cmrnWqlf4E">Buy Now</a></button>
                </h2>
            </div>

            <div>
                <br>
                <img src="/static/img/jeans1.jpg">
                <h6>Grey Tapered Fit Jeans</h6>
               <p> Price:₹799.00</p>
                <h2>
                    <button class="add"><a href="https://rzp.io/i/cmrnWqlf4E">Buy Now</a></button>
                </h2>
            </div>
            <div>
                 <img src="/static/img/shirt.jpg">
               <h6> Men Blue Slim Fit Printed Casual Shirt</h6>
                <p> Price:₹499.00</p>
                <h2>
                    <button class="add"><a href="https://rzp.io/i/RJkYpRY1">Buy Now</a></button>
                </h2>
            </div>
            <div>
                <img src="/static/img/jeans.jpg">
              <h6>ocean blue distressed men's jeans</h6>
                <p> Price:₹599.00</p>
                <h2>
                    <button class="add"><a href="https://rzp.io/i/cmrnWqlf4E">Buy Now</a></button>
                </h2>
            </div>
                <div>
                    <br>
                <img src="/static/img/kurta.jpg">
              <h6>Men's Plus Size Solid Kurta</h6>
                <p> Price:₹958.00</p>
                    <h2>
                        <button class="add"><a href="https://rzp.io/i/cmrnWqlf4E">Buy Now</a></button>
                </h2>
            </div>
                <div>
                    <br>
                <img src="/static/img/sendo.jpg">
              <h6>Black Glitch AOP Vest</h6>
                <p> Price:₹329.00</p>
                    <h2>
                        <button class="add"><a href="https://rzp.io/i/cmrnWqlf4E">Buy Now</a></button>
                </h2>
            </div>
            </div>
            <h1><b>MEN'S FOOTWEAR</b></h1>
            <div class="mancloath">
            <div>

                <img src="/static/img/download 2.jpg">
                <h6>Men's red color shoes</h6>
                <p>Price:₹499.00</p>
                <h2>
                <button class="add" ><a href="https://rzp.io/i/QZOQv2HtA2">Buy Now</a></button>
                </h2>
            </div>
            <div><br>
                 <img src="/static/img/navbharat-times.jpg">
                <h6> Men's casual shoes</h6>
                <p>Price:₹699.00</p>
                <h2>
                <button class="add"><a href="https://rzp.io/i/IG6Ss6If">Buy Now</a></button>
                </h2>
            </div>
            <div>
                 <img src="/static/img/shoes1.jpg">
                <h6>Running Shoes</h6>
                 <p>Price:₹999.00</p>
                <h2>
                <button class="add"><a href="https://rzp.io/i/eQ5Ru6Ud">Buy Now</a></button>
                </h2>
            </div>
            <div>
                 <img src="/static/img/shoes.jpeg">
                <h6>
                    D-SNEAKERZ Casual , Partywear Sneakers Shoes</h6>
                <p>Price:₹1199.00</p>
                <h2>
                <button class="add"><a href="https://rzp.io/i/XRAscPEcNZ">Buy Now</a></button>
                </h2>
            </div>
            <div><br>
               <img src="/static/img/slepper.jpg">
                <h6>PERY-PAO Men's black Flip-Flop</h6>
                <p>Price:₹300.00</p>
                <h2>
                <button class="add"><a href="https://rzp.io/i/XRAscPEcNZ">Buy Now</a></button>
                </h2>
            </div>

            <div>
                <img src="/static/img/slepper2.jpg">
                <h6>ADDA Men Comfort Sleeper </h6>
               <p> Price:₹349.00</p>
                <h2>
                <button class="add"><a href="https://rzp.io/i/uK0U5snps">Buy Now</a></button>
                </h2>
            </div>
            <div><br>
                 <img src="/static/img/slepper3.jpg">
               <h6> Casual sleeper for mens.</h6><br>
                <p> Price:₹199.00</p>
                <h2>
                <button class="add"><a href="https://rzp.io/i/qmdAIJv">Buy Now</a></button>
                </h2>
            </div>
            <div>
                <img src="/static/img/slepper4.jpg">
              <h6>Gents Slippers.</h6>
                <p> Price:₹299.00</p>
                <h2>
                <button class="add"><a href="https://rzp.io/i/RJkYpRY1">Buy Now</a></button>
                </h2>
            </div>
                <div>
                <img src="/static/img/sleeper5.jpg">
              <h6>Casual Leather Slippers </h6>
                <p> Price:₹350.00</p>
                    <h2>
                <button class="add"><a href="https://rzp.io/i/2ORPO4JjKs">Buy Now</a></button>
                </h2>
            </div>
                <div><br>
                <img src="/static/img/slepper7.jpg">
                    <br>
              <h6>red chief chappal sandal</h6><br>
                <p> Price:₹459.00</p>
                    <h2>
                <button class="add"><a href="https://rzp.io/i/WeBjS7Scz">Buy Now</a></button>
                </h2>
            </div>
            </div>
        </section>
            <footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-blue"></i>
    <i class="fa fa-instagram w3-hover-blue"></i>
    <i class="fa fa-snapchat w3-hover-blue"></i>
    <i class="fa fa-pinterest-p w3-hover-blue"></i>
    <i class="fa fa-twitter w3-hover-blue"></i>
    <i class="fa fa-linkedin w3-hover-blue"></i>
  </div>
</footer>
        </header>
        </body>
        </html>
