<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
     <link rel="stylesheet" href="{{ url_for('static',filename='newstyle.css') }}">
</head>
<body>
 <header id="home">
    <nav>
        <div class="logo">E-Shop</div>
        <div class="menu">
        <a href="/">home</a>
            <a href="/product">product</a>
            <a href="/man">man</a>
            <a href="/women">women</a>
             <a href="/team">Team</a>
             <a href="/contact">contact</a>

        </div>
    </nav>
 <section id="product">
             <h1>PRODUCT</h1>
            <div class="wrapper">
            <div>
                <img src="/static/img/leather.jpg">

            </div>
            <div>
                 <img src="/static/img/girls jacket.jpg">

            </div>
            <div>
                 <img src="/static/img/images6.jpg">

            </div>
            <div>
                 <img src="/static/img/images7.jpg">

            </div>
            <div>
               <img src="/static/img/tshirt.jpg">

            </div>

            <div>
                <img src="/static/img/tshirt2.jpg">

            </div>
            <div>
                 <img src="/static/img/winter jacket for women.jpg">

            </div>
            <div>
                <img src="/static/img/wo.jpg">

            </div>

    <div>
        <img src="/static/img/women.jpg">

    </div>
    <div>
        <img src="/static/img/slepper1.jpg">

    </div>
    <div>
        <img src="/static/img/download 2.jpg">

    </div>
    <div>
        <img src="/static/img/images 3.jpg">

    </div>

    <div>
        <img src="/static/img/women sendals.jpg">

    </div>
    <div>
        <img src="/static/img/formal shoes.jpg">

    </div>
                 <div>
        <img src="/static/img/slepper.jpg">

    </div>
            </div>
 </section>
     <footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-blue"></i>
    <i class="fa fa-instagram w3-hover-blue"></i>
    <i class="fa fa-snapchat w3-hover-blue"></i>
    <i class="fa fa-pinterest-p w3-hover-blue"></i>
    <i class="fa fa-twitter w3-hover-blue"></i>
    <i class="fa fa-linkedin w3-hover-blue"></i>
  </div>
</footer>
 </header>
</body>
</html>