

        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Title</title>
                <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ url_for('static',filename='newstyle.css') }}">
           <link rel="stylesheet"   href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
        </head>
        <body>
        <header id="home">
    <nav>
        <div class="logo">E-Shop</div>
        <div class="menu">
        <a href="/home1">home</a>
            <a href="/man">man</a>
            <a href="/women">women</a>
             <a href="/team">Team</a>
              <a href="/contact">contact</a>
        </div>
    </nav>
        <section id="team">
              <div class="myteam">
                <h3>THE TEAM</h3>
                  <div class="news">
            <marquee class="news-content">
                <p>The ones who created this project</p>
            </marquee>
        </div>
                  <div class="image">
                  <div class="mohit">
                        <h3>Mohit Garkoti</h3>
                        <p>I.T.final year student</p>
                        <p>Government Polytehnic Lohaghat </p>
                  </div>
                  <div class="sunil">
                        <h3>sunil joshi</h3>
                        <p>I.T.final year student</p>
                        <p>Government Polytehnic Lohaghat </p>
                      </div>
                  <div class="abhay">
                        <h3>Abhay pandey </h3>
                        <p>I.T.final year student</p>
                        <p>Government Polytehnic Lohaghat</p>
                      </div>
                  <div class="sumit">
                        <h3>sumit joshi</h3>
                        <p>I.T.final year student</p>
                        <p>Government Polytehnic Lohaghat</p>
                    </div>
                       <div class="sonu">
                        <h3>sonu pangariya</h3>
                        <p>I.T.final year student</p>
                        <p>Government Polytehnic Lohaghat</p>
                    </div>
                       <div class="bohra">
                        <h3>priyanka bohra</h3>
                        <p>I.T.final year student</p>
                        <p>Government Polytehnic Lohaghat</p>
                    </div>
                  </div>
              </div>
        </section>
            <footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-blue"></i>
    <i class="fa fa-instagram w3-hover-blue"></i>
    <i class="fa fa-snapchat w3-hover-blue"></i>
    <i class="fa fa-pinterest-p w3-hover-blue"></i>
    <i class="fa fa-twitter w3-hover-blue"></i>
    <i class="fa fa-linkedin w3-hover-blue"></i>
  </div>
</footer>
        </header>
        </body>
        </html>
