
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='newstyle.css') }}">
</head>
<body>
<header id="home">
    <nav>
        <div class="logo">E-Shop</div>
        <div class="menu">
        <a href="/home1">home</a>
            <a href="/man">man</a>
            <a href="/women">women</a>
             <a href="/team">Team</a>
 <a href="/contact">contact</a>
        </div>
    </nav>
<section id="women">
    <h1><b>WOMEN'S CLOTHING</b></h1>
    <div class="women-row">
    <div>
        <img src="/static/img/womentshirt.jpg">
        <h6>Bold Red Round Neck 3/4th Sleeve T-Shirt</h6>
        <p>Price:₹299.00</p>
        <h2>
                <button class="add"><a href="https://rzp.io/i/RJkYpRY1">Buy Now</a></button>
                </h2>
    </div>
    <div>
        <img src="/static/img/women sweeter.jpg">
        <h6>Women's Flat Knit Pink Sweater</h6>
        <p>Price:₹999.00</p>
        <h2>
                <button class="add"><a href="https://rzp.io/i/eQ5Ru6Ud">Buy Now</a></button>
                </h2>
    </div>
    <div>
        <img src="/static/img/women hood.jpg">
        <h6>Women's Color Block Hoodie</h6>
         <p>Price:₹999.00</p>
        <h2>
                <button class="add"><a href="https://rzp.io/i/eQ5Ru6Ud">Buy Now</a></button>
                </h2>
    </div>
    <div>
        <img src="/static/img/women winshetter.jpg">
        <h6>Women's Color Block Windcheater</h6>
        <p>Price:₹999.00</p>
        <h2>
                <button class="add"><a href="https://rzp.io/i/eQ5Ru6Ud">Buy Now</a></button>
                </h2>
    </div>

    <div>
        <img src="/static/img/womenupper.jpg">
        <h6>Women's Ethnic Printed Tunic</h6>
       <p> Price:₹649</p>
        <h2>
                <button class="add"><a href="https://rzp.io/i/fx6sP2UG9">Buy Now</a></button>
                </h2>
    </div>
    <div>
        <img src="/static/img/women kurti.jpg">
       <h6> Women's Maroon Shoulder Strap Ethnic Coordinates</h6>
        <p> Price:₹1099.00</p>
        <h2>
                <button class="add"><a href="https://rzp.io/i/ugNGW3j">Buy Now</a></button>
                </h2>
    </div>

    <div>
        <br>
        <img src="/static/img/women jeans.jpg">
        <h6>Women's Black Washed Slim Fit High Waist Jeans</h6>
        <p>Price:₹699.00</p>
        <h2>
                <button class="add"><a href="https://rzp.io/i/IG6Ss6If">Buy Now</a></button>
                </h2>
    </div>
    <div>
        <img src="/static/img/womenjeans1.jpg">
        <h6>Women You Need Somebody Boy Friend Cut Ripped Jeans</h6>
        <p>Price:₹986.00</p>
        <h2>
                <button class="add"><a href="https://rzp.io/i/N9Wdcom">Buy Now</a></button>
                </h2>
    </div>

    <div>
        <br>
        <img src="/static/img/womendenim.jpg">
        <h6>Varsity Blue Denim Jacket</h6>
       <p> Price:₹999.00</p>
        <h2>
                <button class="add"><a href="https://rzp.io/i/olG8uUoZc8">Buy Now</a></button>
                </h2>
    </div>
    <div>
        <br>
        <img src="/static/img/womenjecket.jpg">
       <h6>Women Solid Stylish Casual Bomber Jacket</h6>
        <p> Price:₹1756:00</p>
        <h2>
                <button class="add"><a href=https://rzp.io/i/m6oMOPwZ8>Buy Now</a></button>
                </h2>
    </div>
    </div>
    <h1><b>WOMEN'S FOOTWEAR</b></h1>
     <div class="women-row">
    <div>
        <img src="/static/img/womenslepper.jpg">
        <h6>Women's Cute Panda Slippers</h6>
        <p>Price:₹599.00</p>
        <h2>
                <button class="add"><a href="https://rzp.io/i/2qLeaVTqv">Buy Now</a></button>
                </h2>
    </div>
    <div>
        <img src="/static/img/womenslepper1.jpg">
        <h6>Kate Pink Flipflops N Slippers</h6>
        <p>Price:₹374.00</p>
        <h2>
                <button class="add"><a href="https://rzp.io/i/wxr1JmMdm">Buy Now</a></button>
                </h2>
    </div>
    <div>
        <br>
        <img src="/static/img/women shoes.jpeg">
        <h6>Women Casual Sport Shoes </h6>
         <p>Price:₹499.00</p>
        <h2>
                <button class="add"><a href="https://rzp.io/i/QZOQv2HtA2">Buy Now</a></button>
                </h2>
    </div>
    <div>
        <br><br>
        <img src="/static/img/womenheals.jpg">
        <h6>women heals</h6>
        <p>Price:₹799.00</p>
        <h2>
                <button class="add"><a href="https://rzp.io/i/YXkhR0G4rs">Buy Now</a></button>
                </h2>
    </div>

    <div>
        <br>
        <img src="/static/img/womenshoes1.jpeg">
        <h6>Stylish Casual Sports Shoes </h6>
       <p> Price:₹737</p>
        <h2>
                <button class="add"><a href="https://rzp.io/i/JiuwKOLf">Buy Now</a></button>
                </h2>
    </div>
    </div>
</section>
    <section>
            <footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-blue"></i>
    <i class="fa fa-instagram w3-hover-blue"></i>
    <i class="fa fa-snapchat w3-hover-blue"></i>
    <i class="fa fa-pinterest-p w3-hover-blue"></i>
    <i class="fa fa-twitter w3-hover-blue"></i>
    <i class="fa fa-linkedin w3-hover-blue"></i>
  </div>
</footer>
    </section>
</header>
</body>
</html>
